* {
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #f8f9fa; /* Light grey background */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #333;
}